<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='SPA.css' />
  </head>
  <body>
    <div id="app">
      <!-- <%- appHTML%> -->
    </div>
    <!-- <%- _SSR_DATA%> -->
    <script type="text/javascript" src="SPA.bundle.js">
    </script>
  </body>
</html>
