@font-face {
  font-family: 'iconfont'; /* Project id 3225228 */
  src: url('iconfont.eot?t=1646573902931'); /* IE9 */
  src: url('iconfont.eot?t=1646573902931#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('iconfont.woff2?t=1646573902931') format('woff2'),
    url('iconfont.woff?t=1646573902931') format('woff'),
    url('iconfont.ttf?t=1646573902931') format('truetype'),
    url('iconfont.svg?t=1646573902931#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: '\e6e9';
}
